.form-control-wrapper > * {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background-color: #2b2b2b;
  background-clip: padding-box;
  border: 1px solid #545454;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-wrapper > input:-moz-focusring {
  text-shadow: 0 0 0 #495057;
}

.form-control-wrapper > input:focus {
  color: white;
  background-color: #2b2b2b;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.login-form-tm {
  max-width: 400px; 
  margin-left: auto; 
  margin-right: auto; 
  background-color:#222222;
  padding:30px;
  color:white;
}