{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'issues/css/issues_index.css' %}" />
<link rel="stylesheet" href="{% static 'home/css/index.css' %}" />
{% endblock extra_css %}

{% block content %}

<div class="container">

    <div class="page-title-holder my-5 d-flex align-items-center">
        <h1 class="page-title">Your profile</h1>
    </div>

    <div class="container d-flex justify-content-center align-items-center">
        <div class="card p-5">
            <div class="user text-center">
                <div class="profile"> <img class="pfp" src="{% static 'openfix/bootstrap/icons/person-circle.svg' %}"
                        class="rounded-circle" width="80"> </div>
            </div>
            <div class="mt-5 text-center">
                {% if user.first_name and user.last_name %}
                <h4 class="mb-0">{{ user.first_name }} {{ user.last_name }}</h4>
                <span class="text-muted d-block mb-2">@{{ user.username }}</span>
                {% else %}
                <h4 class="mb-0">{{ user.username }}</h4>
                {% endif %}
                <button class="btn btn-primary btn-sm follow mt-4">My profile</button>
                <div class="d-flex justify-content-between align-items-center mt-4 px-4">
                    <div class="stats">
                        <h6 class="mb-0 mx-2">Projects</h6> <span>{{ user.projects.count }}</span>
                    </div>
                    <div class="stats">
                        <h6 class="mb-0 mx-2">Issues</h6> <span>{{ user.issues.count }}</span>
                    </div>
                    <div class="stats">
                        <h6 class="mb-0 mx-2">Comments</h6> <span>{{ user.comments.count }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="page-title-holder d-flex align-items-center">
        <h1 class="page-title"><a href="/projects/" class="no-decoration">Projects</a></h1>
        <div class="page-title-controls">
            <a class="btn btn-success" data-qa-selector="new_project_button" href="/projects/new">Create a new
                project</a>
        </div>
    </div>

    <!-- Projects list -->
    <ul class="list-group list-group-flush issues-list">
        {% for project in projects %}
        <li class="list-group-item">
            <div class="title">
                <a href="projects/{{ project.slug }}" class="no-decoration">{{ project.name }}</a>
                {% if user in project.maintainers.all %}
                <span class="badge rounded-pill bg-secondary" style="margin-left:10px">Maintainer</span>
                {% endif %}
            </div>
            {% if project.short_description %}
            <div class="project-short-description">
                {{ project.short_description|truncatechars:95 }}
            </div>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    <div class="page-title-holder d-flex align-items-center">
        <h1 class="page-title">Your recent issues</h1>
    </div>

    <ul class="list-group list-group-flush issues-list">
        {% for issue in issues %}
        <li class="list-group-item">
            <div class="title">
                <a href="/projects/{{ issue.project.slug }}/issues/{{ issue.issue_id }}" class="no-decoration">
                    [ {{ issue.project.name }} ] - {{ issue.title }}
                </a>
            </div>
            <div class="timestamp-create">
                Created {{ issue.created|timesince }} ago
            </div>
        </li>
        {% endfor %}
        {% if not issues %}
        <div class="no-issues">
            You don't have any open issues!
        </div>
        {% endif %}
    </ul>

    <div class="page-title-holder d-flex align-items-center">
        <h1 class="page-title">Your recent comments</h1>
    </div>

    <ul class="list-group list-group-flush issues-list">
        {% for comment in comments %}
        <li class="list-group-item">
            <div class="comment-title-sm-header">
                Commented in project
                <a href="/projects/{{ comment.issue.project.slug }}/" class="no-decoration text-decoration-underline">
                    {{ comment.issue.project.name }}
                </a>
                regarding isssue
                <a href="/projects/{{ comment.issue.project.slug }}/issues/{{ comment.issue.issue_id }}"
                    class="no-decoration text-decoration-underline ">
                    {{ comment.issue.title }}
                </a>
            </div>
            <div class="comment-issue-content-sm">
                {{ comment.content|truncatechars:25 }}
            </div>
        </li>
        {% endfor %}
        {% if not comments %}
        <div class="no-issues">
            You don't have any comments!
        </div>
        {% endif %}
    </ul>

</div>
{% endblock content %}

{% block extra_js %}
{% comment %} <script type="module" src="{% static 'home/js/index.js' %}"></script> {% endcomment %}
{% endblock extra_js %}
