{% extends 'base.html' %}
{% load static %}

{% block title %}Projects - OpenFix{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'issues/css/issues_index.css' %}" />
{% endblock extra_css %}

{% block content %}

<div class="container">

    <div class="page-title-holder d-flex align-items-center">
        <h1 class="page-title">Projects</h1>
        <div class="page-title-controls">
        <a class="btn btn-success" data-qa-selector="new_project_button" href="/projects/new">New project</a>
        </div>
    </div>

    <!-- Projects list -->
    <ul class="list-group list-group-flush issues-list">
        {% for project in page_obj %}
            <li class="list-group-item p-4">
                <div class="title">
                    <a href="{{ project.slug }}" class="no-decoration">{{ project.name }}</a>
                    {% if user in project.maintainers.all %}
                    <span class="badge rounded-pill bg-secondary" style="margin-left: 10px;">Maintainer</span>
                    {% endif %}
                </div>
                {% if project.short_description %}
                    <div class="project-short-description">
                        {{ project.short_description|truncatechars:95 }}
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% if  page_obj.paginator.num_pages > 1 %}
    <!-- Pagination -->
    <nav class="issues-pagination" aria-label="issues-pagination">
        <ul class="pagination">
            <!-- Previous -->
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
            {% endif %}
            <!-- pages - need better renderer for many pages -->
            {% for page_number in page_obj.paginator.page_range %}
                
                {% if page_number < 15 or page_number ==  page_obj.paginator.num_pages %}
                <li class="page-item {% if page_obj.number == page_number %}active{% endif %}">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% endif %}
            
            {% endfor %}

            <!-- Next -->
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Next</a>
                </li>
            {% endif %}
            
        </ul>
      </nav>
      {% endif %}
</div>
{% endblock content %}
