{% extends 'base.html' %}
{% load static %}

{% block title %}{{issue.title}} - OpenFix{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'openfix/highlight/css/onedark.css' %}" />
<link rel="stylesheet" href="{% static 'issues/css/issues_index.css' %}" />
{% endblock extra_css %}

{% block content %}

<div class="container">
    
    <!-- Breadcrumps -->
    <div class="d-flex align-items-center mt-3">
        <div class="bread-crubs">
            <a href="/" class="no-decoration">Home</a> >
            <a href="../../../" class="no-decoration">Projects</a> >
            <a href="../../" class="no-decoration">{{ issue.project.name }}</a> >
            <a href="../" class="no-decoration">Issues</a> >
            <a href="." class="no-decoration">#{{ issue.issue_id }} </a>
        </div>
    </div>

    <!-- Is issue open label -->
   <div class="issue-meta mt-3 d-flex">
        <div class="issue-basic-info d-flex align-items-center">
            {% if issue.is_open %}
                <span class="badge bg-success p-2">Open</span>
            {% else %} 
                <span class="badge bg-secondary">Closed</span>
            {% endif %} 
            <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="{{ issue.created }}">
            ~ Created by {{ issue.created_by }} {{ issue.created|timesince }} ago
            </span>
        </div>
        <div class="page-title-controls">
            <a class="btn btn-success" data-qa-selector="new_issue_button" href="../new/">New issue</a>
        </div>
   </div>
   
    <!-- Issue title -->
   <div class="title mt-2">
       <h2>#{{ issue.issue_id }} {{ issue.title }}</h2>
   </div>

    <ul class="list-group">
        <li class="list-group-item">
            <!-- Issue labels -->
            <div class="labels-list d-flex align-items-center">
                <span style="margin-right:5px;">Project labels: </span>
                {% if not issue.labels.all %}None{% endif %}
                {% for label in issue.labels.all %}
                    <span class="badge" style="background-color:{{ label.background_color }}; color: {{ label.color }}; margin-right:5px">{{ label.name }}</span>
                {% endfor %}
                <a class="no-decoration add-label-icon" data-bs-toggle="collapse" href="#collapseLabels" role="button" aria-expanded="false" aria-controls="collapseLabels">
                    <i class="bi bi-plus-circle-fill"></i>
                </a>
            </div>
            <div class="collapse mt-4" id="collapseLabels">
                <form class="" method="post" action="add-label/">
                    {% csrf_token %}
                    <div class="picker-wrapper d-flex justify-content-evenly align-items-center">
                        <select class="form-select" style="width: 25%;" aria-label="size 3" id="id_labels">
                            <option value="">-----</option>
                            {% for label in issue.project.labels.all %}
                                {% if label not in issue.labels.all %}
                                    <option id="label-option-{{ label.id }}" value="{{ label.id }}">{{ label.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <button class="btn btn-success" id="select-label" style="margin: 0 20px 0 10px;">Add</button>
                        <input type="color" class="form-control form-control-color" id="color-picker" value="#563d7c" name="background_color" title="Choose your color" required>
                        <div id="selected-color" style="margin: 0 10px">#563d7c</div>
                        <input type="text" class="form-control" style="width:50%; margin: 0 10px;" name="name" maxlength="20", placeholder="Label name" required>
                        <input class="btn btn-success" type="submit" value="Add new label">
                    </div>
                </form>
            </div>
        </li>
        <li class="list-group-item">
            <!-- Issue referances -->
            <div class="references-list d-flex align-items-center">
                <span style="margin-right:5px;">Project referances: </span>
                {% if not issue.references.all %}None{% endif %}
                {% for reference in issue.references.all %}
                    <a href="../{{reference.issue_id}}/" style="margin-right:5px;" id="ref-{{reference.issue_id}}">#{{reference.issue_id}}</a> 
                {% endfor %}
                <a class="no-decoration add-label-icon" data-bs-toggle="collapse" href="#collapseReferances" role="button" aria-expanded="false" aria-controls="collapseReferances">
                    <i class="bi bi-plus-circle-fill"></i>
                </a>
            </div>
            <div class="collapse mt-4" id="collapseReferances">
                <form class="" method="post"  action="add-references/">
                    {% csrf_token %}
                    <div class="picker-wrapper d-flex justify-content-evenly align-items-center">
                        <select class="form-select" style="width: 50%;" multiple aria-label="size 3" id="id_references" name="references">
                            {% for issue in issue.project.issues.all %}
                                <option value="{{ issue.id }}">
                                    {{ issue.issue_id }} - {{ issue.title }}
                                </option>
                            {% endfor %}
                        </select>
                        <input class="btn btn-success" type="submit" value="Add referances">
                    </div>
                </form>
            </div>
        </li>

        <li class="list-group-item">
            <div class="references-list d-flex align-items-center">
                <span style="margin-right:5px;">Issue details</span>
                <a class="no-decoration add-label-icon" data-bs-toggle="collapse" href="#collapseDetails" role="button" aria-expanded="false" aria-controls="collapseDetails">
                    <i class="bi bi-plus-circle-fill"></i>
                </a>
            </div>
            <div class="collapse mt-4" id="collapseDetails">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="assignee col">
                                <div class="current-value my-2">
                                    Assignee: {% if not issue.assignee %}None{% else %}{{ issue.assignee }}{% endif %}
                                </div>
                                {% if user.is_member or user.is_staff %}
                                <form class="" method="post" action="add-assignee/">
                                    {% csrf_token %}
                                    <div class="picker-wrapper d-flex justify-content-evenly align-items-center">
                                        <select class="form-select" style="width: 50%;" aria-label="Default select example" id="id_assignee" name="assignee">
                                            <option value="">---------</option>
                                            {% for member in issue.project.members.all %}
                                                <option value="{{ member.id }}"{% if issue.assignee.id == member.id %} selected{% endif %}>
                                                    @{{ member.username }} {{ member.first_name }} {{ member.last_name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                        <input class="btn btn-success" type="submit" value="Select">
                                    </div>
                                </form>
                                {% endif %}
                            </div>
                            <div class="priority col">
                                <div class="current-value my-2">
                                    Priorirty: {% if not issue.priority %} None{% else %}{{ issue.priority }}{% endif %}
                                </div>
                                {% if user.is_member or user.is_staff %}
                                <form class="" method="post" action="add-priority/">
                                    {% csrf_token %}
                                    <div class="picker-wrapper d-flex justify-content-evenly align-items-center">
                                        <select class="form-select" style="width: 50%;" aria-label="Default select example" id="id_priority" name="priority">
                                            <option value="">---------</option>
                                            {% for id, name in PRIORITY_CHOICES %}
                                                <option value="{{ id }}"{% if issue.priority == id %} selected{% endif %}>{{ name }}</option>
                                            {% endfor %}
                                        </select>
                                        <input class="btn btn-success" type="submit" value="Select">
                                    </div>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="issue-type col">
                                <div class="current-value my-2">
                                    Type: {% if not issue.issue_type %}None{% else %}{{ issue.issue_type|lower }}{% endif %}
                                </div>
                                {% if user.is_member or user.is_staff %}
                                <form class="" method="post" action="add-type/">
                                    {% csrf_token %}
                                    <div class="picker-wrapper d-flex justify-content-evenly align-items-center">
                                        <select class="form-select" style="width:50%;" aria-label="Default select example" id="id_issue_type" name="issue_type">
                                            <option value="">---------</option>
                                            {% for id, name in TYPE_CHOICES %}
                                                <option value="{{ id }}"{% if issue.issue_type == id %} selected{% endif %}>{{ name }}</option>
                                            {% endfor %}
                                        </select>
                                        <input class="btn btn-success" type="submit" value="Select">
                                    </div>
                                </form>
                                {% endif %}
                            </div>
                            <div class="issue-status col">
                                <div class="current-value my-2">
                                    Status: {% if not issue.status %} None{% else %}{{ issue.status|lower }}{% endif %}
                                </div>
                                {% if user.is_member or user.is_staff %}
                                <form class="" method="post" action="add-status/">
                                    {% csrf_token %}
                                    <div class="picker-wrapper d-flex justify-content-evenly align-items-center">
                                        <select class="form-select" style="width: 50%;" aria-label="Default select example" id="id_status" name="status">
                                            <option value="">---------</option>
                                            {% for id, name in STATUS_CHOICES %}
                                                <option value="{{ id }}"{% if issue.status == id %} selected{% endif %}>{{ name }}</option>
                                            {% endfor %}
                                        </select>
                                        <input class="btn btn-success" type="submit" value="Select">
                                    </div>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </li>
            
                    <li class="list-group-item">
                        <div class="row">
                            <div class="issue-severity col">
                                <div class="current-value my-2">
                                    Severity: {% if not issue.severity %}None{% else %}{{ issue.severity|lower }}{% endif %}
                                </div>
                                {% if user.is_member or user.is_staff %}
                                <form class="" method="post" action="add-severity/">
                                    {% csrf_token %}
                                    <div class="picker-wrapper d-flex justify-content-evenly align-items-center">
                                        <select class="form-select" style="width:50%;" aria-label="Default select example" id="id_severity" name="severity">
                                            <option value="">---------</option>
                                            {% for id, name in SEVERITY_CHOICES %}
                                                <option value="{{ id }}"{% if issue.severity == id %} selected{% endif %}>{{ name }}</option>
                                            {% endfor %}
                                        </select>
                                        <input class="btn btn-success" type="submit" value="Select">
                                    </div>
                                </form>
                                {% endif %}
                            </div>
                            <div class="issue-deadline col">
                                <div class="current-value my-2">
                                    Deadline: {% if not issue.deadline %} None{% else %}{{ issue.deadline|date:"D d M Y" }}{% endif %}
                                </div>
                                {% if user.is_member or user.is_staff %}
                                <form class="" method="post" action="add-deadline/">
                                    {% csrf_token %}
                                    <div class="picker-wrapper d-flex justify-content-evenly align-items-center">
                                        <input class="input-group-text" type="date" id="deadline" name="deadline">
                                        <input class="btn btn-success" type="submit" value="Select">
                                    </div>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                    {% if not issue.is_open %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="issue-resolution col">
                                <div class="current-value my-2">
                                    Resolution: {% if not issue.resolution %}None{% else %}{{ issue.resolution|lower }}{% endif %}
                                </div>
                                {% if user.is_member or user.is_staff %}
                                <form class="" method="post" action="add-resolution/">
                                    {% csrf_token %}
                                    <div class="picker-wrapper d-flex justify-content-evenly align-items-center">
                                        <select class="form-select" style="width:50%;" aria-label="Default select example" id="id_resolution" name="resolution">
                                            <option value="">---------</option>
                                            {% for id, name in RESOLUTION_CHOICES %}
                                                <option value="{{ id }}"{% if issue.resolution == id %} selected{% endif %}>{{ name }}</option>
                                            {% endfor %}
                                        </select>
                                        <input class="btn btn-success" type="submit" value="Select">
                                    </div>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </li>
    </ul>

    <br>

    <!-- Issue description -->
    <div class="description mb-4">
        {% if issue.description %}
            {{ issue.description }}
        {% else %}
            <h4>No issue description was provided</h4>
        {% endif %}
    </div>

    <hr>

    <!-- Issue comments -->
    <ul class="list-group">
        {% for comment in issue.comments.all %}
            <li class="issue-comment-item" id="comment-{{ comment.id }}">
                <div class="comment-details">
                    {{ comment.owner.first_name }} {{ comment.owner.last_name }} @{{ comment.owner.username }}  · 
                    <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="{{ comment.timestamp }}">
                        {{ comment.timestamp|timesince }} ago
                    </span>
                    {% if user.id == comment.owner.id or user.is_staff %}
                    <span class="comment-delete-button-wrapper" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="delete">
                        <button class="btn btn-danger comment-delete-button shadow-none" data-qa-selector="delete_comment_btn">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </span>
                    {% endif %}
                </div>
                <div class="comment-content">
                    {{ comment.content }}
                </div>
            </li>
        {% endfor %}
    </ul>

    {% if not issue.comments.all %}
        <div class="no-members text-center mb-5">
            <p>Issue has no comments at the moment</p>
        </div>
        <div class="add-new-comment-label mb-2">
            Add new comment
        </div>
    {% else %}
        <hr>
    {% endif %}

  

    <form action="add-comment/" method="post">
        <div class="form-group">
            {% csrf_token %}
            <ul class="nav nav-tabs" id="comment-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="write-tab" data-bs-toggle="tab" data-bs-target="#write" type="button" role="tab" aria-controls="write" aria-selected="true">
                        Write
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="preview-tab" data-bs-toggle="tab" data-bs-target="#preview" type="button" role="tab" aria-controls="preview" aria-selected="false">
                        Preview
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="comment-tab-content">
                <div class="tab-pane fade show active" id="write" role="tabpanel" aria-labelledby="write-tab">
                    <textarea class="form-control mb-3 mt-2 write-textarea" id="comment-content-textarea" rows="3" name="content" placeholder="Comment" required></textarea>
                </div>
                <div class="tab-pane fade" id="preview" role="tabpanel" aria-labelledby="preview-tab">
                    <div class="write-comment-content p-3" id="write-comment-content">
                        No preview yet
                    </div>
                </div>
                <input class="btn btn-success" type="submit" value="Comment">
                {% if user in issue.project.members or user == issue.created_by or user.is_staff %}
                    {% if issue.is_open %}
                        <input class="btn btn-secondary" type="submit" name="close_issue" value="Comment and close">
                    {% else %}
                    <input class="btn btn-secondary" type="submit" name="reopen_issue" value="Comment and reopen">
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </form>
  <br><br>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'openfix/js/purify.min.js' %}"></script>
<script type="text/javascript" src="{% static 'openfix/highlight/js/highlight.min.js' %}"></script>
<script type="text/javascript" src="{% static 'openfix/js/markdown-it.min.js' %}"></script>
<script type="text/javascript" src="{% static 'issues/js/issues_index.js' %}"></script>
<script type="text/javascript" src="{% static 'issues/js/issue_details.js' %}"></script>
{% endblock extra_js %}
