{% extends 'base.html' %}
{% load static %}

{% block title %}Projects - OpenFix{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'issues/css/issues_index.css' %}" />
{% endblock extra_css %}

{% block content %}

<div class="container">
    ERROR!
    <div class="errors-wrapper mb-3">
    {{ form.non_field_errors }}
    </div>
    <div class="errors-wrapper mb-3">
        {{ form.non_field_errors }}
      </div>
      {% for field in form %}
        <div class="fieldWrapper mb-3">
            {{ field.errors }}
            <div class="form-label">{{ field.label_tag }}</div>
            <div class="form-control-wrapper">{{ field }}</div>
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock content %}
