{% extends 'base.html' %}
{% load static %}

{% block title %}New issue{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'openfix/highlight/css/onedark.css' %}" />
<link rel="stylesheet" href="{% static 'issues/css/issues_index.css' %}" />
{% endblock extra_css %}

{% block content %}

<div class="container">

    <!-- Breadcrumps -->
    <div class="d-flex align-items-center mt-3">
        <div class="bread-crubs">
            <a href="/" class="no-decoration">Home</a> >
            <a href="../../../" class="no-decoration">Projects</a> >
            <a href="../../" class="no-decoration">{{ project_name }}</a> >
            <a href="../" class="no-decoration">Issues</a> >
            <a href="." class="no-decoration">New issue </a>
        </div>
    </div>

    <div class="page-title-holder d-flex align-items-center">
        <h1 class="page-title">New Issue</h1>
    </div>

    <form method="post">
        <div class="form-group">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleFormControlInput1" class="mt-2">Issue title</label>
                <input type="text" class="form-control mb-3 mt-2" id="id_name" placeholder="Issue name" name="title" maxlength="200" required>
            </div>
            <label for="new-issue-text-area" class="mb-2 mt-4">Issue description</label>
            <ul class="nav nav-tabs" id="comment-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="write-tab" data-bs-toggle="tab" data-bs-target="#write" type="button" role="tab" aria-controls="write" aria-selected="true">
                        Write
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="preview-tab" data-bs-toggle="tab" data-bs-target="#preview" type="button" role="tab" aria-controls="preview" aria-selected="false">
                        Preview
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="comment-tab-content">
                <div class="tab-pane fade show active" id="write" role="tabpanel" aria-labelledby="write-tab">
                    <textarea class="form-control mb-3 mt-2 write-textarea" id="new-issue-text-area" rows="3" name="description"></textarea>
                </div>
                <div class="tab-pane fade" id="preview" role="tabpanel" aria-labelledby="preview-tab">
                    <div class="write-comment-content p-3" id="write-comment-content">
                        No preview yet
                    </div>
                </div>
                <input class="btn btn-success" type="submit" value="Submit issue">
            </div>
        </div>
    </form>
    
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'openfix/js/purify.min.js' %}"></script>
<script type="text/javascript" src="{% static 'openfix/highlight/js/highlight.min.js' %}"></script>
<script type="text/javascript" src="{% static 'openfix/js/markdown-it.min.js' %}"></script>
<script type="text/javascript" src="{% static 'issues/js/issues_index.js' %}"></script>
{% endblock extra_js %}
