{% extends 'base.html' %}
{% load static %}
{% load paginator_tags %}

{% block title %}Issues - OpenFix{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'issues/css/issues_index.css' %}" />
{% endblock extra_css %}

{% block content %}

<div class="container">

    <div class="d-flex align-items-center mt-3">
        <div class="bread-crubs">
            <a href="/" class="no-decoration">Home</a> >
            <a href="../../" class="no-decoration">Projects</a> >
            <a href="../" class="no-decoration">{{ project_name }}</a> >
            <a href="." class="no-decoration">Issues</a>
        </div>
    </div>

    <div class="page-title-holder d-flex align-items-center">
        <h1 class="page-title">{{ project_name }} - issues</h1>
        <div class="page-title-controls">
        <a class="btn btn-success" data-qa-selector="new_project_button" href="new/">New issue</a>
        </div>
    </div>

    <br>

    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link {% if state == "opened" %}active{% endif %}" aria-current="page" href="?state=opened">({{ open_count }}) Open</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if state == "closed" %}active{% endif %}" href="?state=closed">({{ closed_count }}) Closed</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if state == "all" %}active{% endif %}" href="?state=all">All</a>
        </li>
    </ul>

    <!-- Issues list -->
    <ul class="list-group list-group-flush issues-list">
        {% for issue in page_obj %}
            <li class="list-group-item">
                <div class="title">
                    <a href="{{ issue.issue_id }}" class="no-decoration">{{ issue.title }}</a>
                    <span class="comments-count">
                        {{ issue.comments.count }} <i class="bi bi-chat-left-text"></i>
                    </span>
                </div>
                <div class="author">
                    #{{ issue.issue_id }} Created by {{ issue.created_by }} {{ issue.created|timesince }} ago
                </div>
            </li>
        {% endfor %}
        {% if not page_obj %}
            No issues found!
        {% endif %}
    </ul>
    {% get_proper_elided_page_range paginator page_obj.number as page_range %}
    {% if  page_obj.paginator.num_pages > 1 %}
    <!-- Pagination -->
    <nav class="issues-pagination" aria-label="issues-pagination">
        <ul class="pagination">
            <!-- Previous -->
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
            {% endif %}
            <!-- pages - need better renderer for many pages -->
            {% for page_number in page_range %}
                
                {% if page_number == paginator.ELLIPSIS %}
                    <li class="page-item disabled">
                        <span class="page-link">{{ paginator.ELLIPSIS }}</span>
                    </li>
                {% else %}
                <li class="page-item {% if page_obj.number == page_number %}active{% endif %}">
                    <a class="page-link" href="?page={{ page_number }}&{{ q_params }}">{{ page_number }}</a>
                </li>
                {% endif %}
            
            {% endfor %}

            <!-- Next -->
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Next</a>
                </li>
            {% endif %}
            
        </ul>
      </nav>
      {% endif %}
</div>
{% endblock content %}
