{% extends 'base.html' %}
{% load static %}

{% block title %}Add new member{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'issues/css/issues_index.css' %}" />
<link rel="stylesheet" href="{% static 'issues/css/project_members.css' %}" />

{% endblock extra_css %}

{% block content %}

<div class="container">

    <div class="d-flex align-items-center mt-3">
        <div class="bread-crubs">
           <a href="/" class="no-decoration">Home</a> >
           <a href="../../" class="no-decoration">Projects</a> >
           <a href="../" class="no-decoration">{{project_name}} </a> >
           <a href="./" class="no-decoration">Members</a>
        </div>
     </div>

    <div class="page-title-holder d-flex align-items-center">
        <h1 class="page-title">Add new member</h1>
    </div>

    <div class="form-group my-5" id="members-input-wrapper">
        <div class="form-group">
            <input type="text" class="form-control mt-2" id="user_select" maxlength="200", placeholder="Search for users">
            <div class="autocomplete-box" id="autocomplete-box"><ul></ul></div>
        </div>
    </div>

    <hr>
    <div class="list-title mt-5">
        <h4>Project members:</h4>
    </div>
    <ul class="list-group mb-3 mt-2" id="project-members-list">
        <p class="placeholder-glow">
            <span class="placeholder col-12"></span>
        </p>
          
        <p class="placeholder-wave">
            <span class="placeholder col-12"></span>
        </p>
    </ul>

    

</div>

<div class="error-message">
    <div class="btn  btn-danger alert alert-dismissible fade show my-5 text-center" role="alert">
        <span id="error-message-content">Server has encoutner uknown erorr!</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>

{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'issues/js/project_members.js' %}"></script>
{% endblock extra_js %}
