{% extends 'base.html' %}
{% load static %}

{% block title %}{{ project.name }} - OpenFix{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'openfix/highlight/css/onedark.css' %}" />
<link rel="stylesheet" href="{% static 'issues/css/issues_index.css' %}" />
{% endblock extra_css %}

{% block content %}

<div class="container">
    
   <div class="d-flex align-items-center mt-3">
      <div class="bread-crubs">
         <a href="/" class="no-decoration">Home</a> >
         <a href="../" class="no-decoration">Projects</a> >
         <a href="." class="no-decoration">{{ project.name }}</a>
      </div>
   </div>

   <div class="issue-meta mt-3 d-flex">
       <div class="issue-basic-info d-flex align-items-center">
         <h2>{{ project.name }}</h2>
       </div>
       <div class="page-title-controls">
         <a class="btn btn-success" data-qa-selector="new_project_button" href="../new/">New project</a>
        </div>
   </div>

   <div class="is-visible">
      Visable -  {{ project.visible }}
   </div>
   
   {% if project.description %}
      <hr>
      <div class="description mb-4">
         {{ project.description }}
      </div>
   {% endif %}
   <hr>
   <h4>Project issues:</h4>
   <ul class="list-group mb-3">
       {% for issue in project.issues.all|slice:":5" %}
         <li class="list-group-item">
            <div class="title">
               <a href="issues/{{ issue.issue_id }}/" class="no-decoration">{{ issue.title }}</a>
            </div>
            <div class="author">
               #{{ issue.issue_id }} Created by {{ issue.created_by }} {{ issue.created|timesince }} ago
            </div>
         </li>
       {% endfor %}
  </ul>

  {% if not project.issues.all %}
   <div class="no-members text-center mb-5">
      <p>Project has no issues at the moment</p>
      <div class="create-new-issue">
         <a class="btn btn-success" data-qa-selector="new_project_button" href="issues/new/">Create new issue</a>
        </div>
   </div>
   {% else %}
  <div class="get-all-issues">
   <a class="btn btn-outline-primary" data-qa-selector="new_project_button" href="issues/">See all isssues</a>
  </div>
  {% endif %}

  <hr>

  <div class="members-title mt-4 d-flex">
   <div class="d-flex align-items-center">
      <h4>Project members:</h4>
    </div>
    {% if user.is_maintainer or user.is_staff %}
      <div class="page-title-controls">
         <a class="btn btn-success" href="members/">Manage members</a>
      </div>
      {% endif %}
   </div>
  <ul class="list-group my-3">
      {% for member in project.members.all|slice:":5" %}
      <li class="list-group-item">
         <div class="member">
            <a href="." class="no-decoration">
               {{ member.username }}
               {% if member in project.maintainers.all %}
               <span class="badge rounded-pill bg-secondary">Maintainer</span>
               {% endif %}
            </a>
         </div>
      </li>
      {% endfor %}
   </ul>

   {% if not project.members.all %}
   <div class="no-members text-center">
      <p>Project has no memebers</p>
      {% if user.is_maintainer or user.is_staff %}
         <a class="btn btn-success" data-qa-selector="new_project_button" href="members/">Add new member</a>
      {% endif %}
   </div>
   {% endif %}

  <br><br>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'openfix/js/purify.min.js' %}"></script>
<script type="text/javascript" src="{% static 'openfix/highlight/js/highlight.min.js' %}"></script>
<script type="text/javascript" src="{% static 'openfix/js/markdown-it.min.js' %}"></script>
<script type="text/javascript" src="{% static 'issues/js/issues_index.js' %}"></script>
{% endblock extra_js %}
