{% extends 'base.html' %}
{% load static %}

{% block title %}New project{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'issues/css/issues_index.css' %}" />
<link rel="stylesheet" href="{% static 'issues/css/project_members.css' %}" />
{% endblock extra_css %}

{% block content %}

<div class="container">

    <div class="page-title-holder d-flex align-items-center">
        <h1 class="page-title">New Project</h1>
    </div>

    <form method="post">
        <div class="form-group">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleFormControlInput1" class="mt-4">Project name</label>
                <input type="text" class="form-control mb-3 mt-2" id="id_name" placeholder="Project name" name="name" maxlength="200" required>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Short project description</label>
            <textarea class="form-control mb-3 mt-2" id="exampleFormControlTextarea1" rows="3" name="short_description" maxlength="250"></textarea>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="true" id="flexCheckChecked" name="visible" checked>
                <label class="form-check-label" for="flexCheckChecked">
                  Visable
                </label>
            </div>

            <div class="mt-5 d-flex align-items-center">
                Members
            </div>

            <select class="form-select" style="width: 50%;" multiple hidden aria-label="size 3" id="id_members" name="members" autocomplete="off">
            </select>
        
            <div class="form-group my-1" id="users-input-wrapper">
                <div class="form-group" style="position: relative;">
                    <input type="text" class="form-control mt-2" id="user_select" maxlength="200", placeholder="Search for users" autocomplete="off">
                    <div class="autocomplete-box" id="autocomplete-box"><ul></ul></div>
                </div>
            </div>
        
            <hr>
            <ul class="list-group mb-3 mt-2" id="project-users-list"></ul>

            <label for="exampleFormControlTextarea1" class="mb-2 mt-4">Project description</label>
            <ul class="nav nav-tabs" id="comment-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="write-tab" data-bs-toggle="tab" data-bs-target="#write" type="button" role="tab" aria-controls="write" aria-selected="true">
                        Write
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="preview-tab" data-bs-toggle="tab" data-bs-target="#preview" type="button" role="tab" aria-controls="preview" aria-selected="false">
                        Preview
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="comment-tab-content">
                <div class="tab-pane fade show active" id="write" role="tabpanel" aria-labelledby="write-tab">
                    <textarea class="form-control mb-3 mt-2 write-textarea" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
                </div>
                <div class="tab-pane fade" id="preview" role="tabpanel" aria-labelledby="preview-tab">
                    <div class="write-comment-content p-3" id="write-comment-content">
                        No preview yet
                    </div>
                </div>
                <input class="btn btn-success" type="submit" value="Add project">
            </div>
        </div>
    </form>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'openfix/js/purify.min.js' %}"></script>
<script type="text/javascript" src="{% static 'openfix/highlight/js/highlight.min.js' %}"></script>
<script type="text/javascript" src="{% static 'openfix/js/markdown-it.min.js' %}"></script>
<script type="text/javascript" src="{% static 'issues/js/issues_index.js' %}"></script>
<script type="text/javascript" src="{% static 'issues/js/project_new.js' %}"></script>

{% endblock extra_js %}
