{% extends 'base.html' %}
{% load static %}

{% block title %}Log in{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'openfix/css/login.css' %}">
{% endblock extra_css %}

{% block content %}

<form method="post" class="login-form-tm mt-4 card" style="">
    <h2>Welcome!</h2>
  {% csrf_token %}
  
  {% comment %} {{ form.errors }} {% endcomment %}
  <div class="errors-wrapper mb-3">
    {{ form.non_field_errors }}
  </div>
  {% for field in form %}
    <div class="fieldWrapper mb-3">
        {{ field.errors }}
        <div class="form-label">{{ field.label_tag }}</div>
        <div class="form-control-wrapper">{{ field }}</div>
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
  {% endfor %}
  <button type="submit" class="btn-grad-green mt-3">Log in</button>
</form>

{% endblock content %}