.issues-list {
    margin: 2vh;
}

.issues-pagination {
    display: flex;
    justify-content: center;
}

.page-title-holder .page-title {
    margin: 16px 0;
    font-size: 1.75em;
    font-weight: 600;
    color: #fafafa;
}

.page-title-controls {
    margin-left: auto;
}

.page-title-holder {
    border-bottom: 1px solid #404040;
}

.issue-basic-info .badge {
    margin-right: 1vh;
}

.issue-comment-item {
    border-top-width: 1px;
    color: rgb(209, 205, 199);
    margin: 14px;
    text-decoration-color: currentcolor;
    background-color: rgb(24, 26, 27);
    position: relative;
    display: block;
    text-decoration: none;
    text-decoration-color: currentcolor;
    background-color: #181a1b;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
}

.list-group-item .title .comments-count {
    margin-left: auto;
}

.issue-comment-item .comment-details {
    background-color: #1e2021;
    padding: 15px;
}

.comment-details {
    display: flex;
    align-items: center;
}

.comment-delete-button {
    margin-left: auto;
}

.comment-delete-button-wrapper {
    margin-left: auto;
}

.issue-comment-item .comment-content {
    padding: 20px;
}

.issue-comment-item .comment-content img {
    max-width: 100%;
}

.write-comment-content{
    min-height: 100px;
}

.comment-textarea{
    max-height: 400px;  
}

#comment-tab-content{
    height: 500px;
}

#preview {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 1vh;
}

.project-short-description{
    font-size: 0.8rem;
    color: #aaaaaa;
}

.add-label-icon{
    margin-right: 10px;
    display: flex;
    margin-left: auto;
    align-items: center;
}

.description img {
    max-width: 100%;
}

