.suggestion-element{
    list-style: none;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 8px;
}

.autocomplete-box{
    display: none;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
    position: absolute;
    z-index: 100;
    background-color: #212529;
    max-height: 50vh;
    width: 100%;
    margin-top: 5px;
    border: 1px solid rgb(56, 61, 63);;
    border-radius: 3px;
}

.autocomplete-box ul{
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
}

.autocomplete-box ul li:hover{
    margin-bottom: 0;
    background-color: #17171787;
}

.autocomplete-box ul li{
    margin-left: 0;
}

#members-input-wrapper{
    position: relative;
}

.error-message {
    display: none;
    justify-content: center;
    position: absolute;
    bottom: 2vh;
    width: 100%;
}
