{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}OpenFix{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'openfix/images/favicon.ico' %}"/>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'openfix/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'openfix/bootstrap/css/bootstrap-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'openfix/css/openfix.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}"> -->

    {% block extra_css %}
        <!-- Override this in templates to add extra stylesheets -->
    {% endblock extra_css %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">OpenFix</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{user.username}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% if user.is_staff %}
                    <li><a class="dropdown-item" href="/admin/">Admin</a></li>
                  {% endif %}
                  <li><a class="dropdown-item" href="/projects/">Projects</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/logout/">Log out</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex" method="get">
              <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
    </nav>
    {% block content %}
    {% endblock content %}

    <script type="text/javascript" src="{% static 'openfix/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'openfix/js/jquery.min.js' %}"></script>
    <script src="{% static 'openfix/js/openfix.js' %}"></script>

    {% block extra_js %}
    {% endblock extra_js %}
</body>
</html>
